asn1crypto==0.24.0
Babel==2.8.0
chardet==3.0.4
cryptography==2.3
Django==1.11.29
django-phonenumber-field==2.4.0
docutils==0.14
EasyProcess==0.3
entrypoint2==0.2.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Kivy==1.11.1
mysql-connector-python==2.1.6
olefile==0.45.1
phonenumbers==8.12.3
Pillow==5.1.0
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyscreenshot==2.2
pytz==2020.1
pyxdg==0.25
roman==2.0.0
SecretStorage==2.3.1
six==1.11.0
